<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="event"></ion-back-button>
      <app-menu-button *ngIf="!event"></app-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="students.length > 0" (click)="toExportPage()">
        {{htmlControls.toolbar.buttons.export}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="stats">
  <ion-item>
    <ion-label>{{htmlControls.filter}}</ion-label>
    <ion-select interface="popover" (ionCancel)="initializeStudents()" multiple="false" #filter
      (ionChange)="queryData(filter.value)">
      <ion-select-option *ngFor="let option of selectOptions" value="{{option}}">{{option}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngIf="query == 'Date'">
    <ion-item>
      <ion-label>{{htmlControls.year}}</ion-label>
      <ion-select interface="popover" multiple="false" #year (ionChange)="queryDataByYear(year.value)">
        <ion-select-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{htmlControls.month}}</ion-label>
      <ion-select interface="popover" multiple="false" #month (ionChange)="queryDataByMonth(month.value)">
        <ion-select-option *ngFor="let month of months" value="{{month}}">{{month}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div id="table">
    <table>
      <caption [ngSwitch]="query">
        <ng-template ngSwitchWhen="Date">{{htmlControls.tableTitle}}{{monthQuery}},
          {{yearQuery}}</ng-template>
        <ng-template ngSwitchDefault>{{htmlControls.tableTitle}}{{monthQuery}}, {{yearQuery}}</ng-template>
      </caption>
      <tr>
        <th>
          Id
        </th>
        <th>
          {{htmlControls.tableHeaders.name}}
        </th>
        <th>
          {{htmlControls.tableHeaders.attendance}}
        </th>
        <th>
          {{htmlControls.tableHeaders.absence}}
        </th>
        <th>
          {{htmlControls.tableHeaders.percent}}
        </th>
      </tr>
      <tr *ngFor="let student of students">
        <td>
          {{student.id}}
        </td>
        <td>
          {{student.fullName}}
        </td>
        <td>
          {{student.attendance}}
        </td>
        <td>
          {{student.absence}}
        </td>
        <td>
          {{student.percent}}
        </td>
      </tr>
    </table>
  </div>
</ion-content>