<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <app-cancel></app-cancel>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-event-form
  [students]="students"
  [studentIds]="studentIds"
  [htmlControls]="htmlControls"
  [imgSrc]="imgSrc"
  [logo]="logo"
  [language]="language"
  [eventName]="eventName"
  [startDate]="startDate"
  [endDate]="endDate"
  [infiniteDates]="infiniteDates"
  (eventData)="editEvent($event)"
></app-event-form>
</ion-content>

