<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <app-menu-button></app-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToCreate()">
          {{htmlControls.toolbar.buttons.add}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="student-list">
  <ion-searchbar placeholder="{{htmlControls.search}}" (ionInput)="searchStudent($event)" animated="true" type="search">
  </ion-searchbar>
  <ion-item>
    <ion-label>{{htmlControls.sort}}</ion-label>
    <ion-select interface="popover" multiple="false" #sort (ionChange)="sortData(sort.value)">
      <ion-select-option *ngFor="let option of selectOptions" value="{{option}}">{{option}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>{{htmlControls.filter}}</ion-label>
    <ion-select interface="popover" multiple="false" placeholder="None" #filter
      (ionChange)="filterByClass(filter.value)">
      <ion-select-option *ngFor="let class of filterOptions" value="{{class}}">{{class}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list lines="none">
    <ion-virtual-scroll [items]="students" approxHeaderHeight="44px" approxItemHeight="270px">
      <ion-card *virtualItem="let student" (click)="goToProfile(student.id)">
        <ion-card-header>
          <ion-card-title>{{student.firstName}}
            <span *ngIf="student.initial">{{student.initial[0]}}.</span> {{student.lastName}}
          </ion-card-title>
          <ion-card-subtitle><span class="label">ID: </span>{{student.id}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-thumbnail>
                  <ion-img src="{{student.picture}}" alt="An image of user"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <ion-item>
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.address}}</span>{{student.address}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.town}}</span>{{student.town}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.state}}</span>{{student.state}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="student.class">
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.class}}</span>{{student.class}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="student.phoneNumber">
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.phone}}</span>{{student.phoneNumber}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="student.emergencyContactName">
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.contact}}</span>{{student.emergencyContactName}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="student.emergencyContactPhoneNumber">
                  <ion-label text-wrap>
                    <span class="label">{{htmlControls.phone}}</span>{{student.emergencyContactPhoneNumber}}
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="!student.isActive">
                  <ion-label text-wrap>
                    <p>
                      {{htmlControls.active}}
                    </p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <p class="attended">
            {{htmlControls.profile}}{{student.firstName}}{{htmlControls.profile2}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </ion-list>

</ion-content>