<ion-list lines="none">
  <ion-searchbar
    placeholder="{{htmlControls.search}}"
    (ionInput)="search($event)"
  ></ion-searchbar>
  <ion-grid>
    <ion-row *ngFor="let student of students">
      <ion-col size="2">
        <ion-avatar>
          <ion-img
            src="{{student.picture}}"
            alt="{{student.firstName}}'s profile image"
          ></ion-img>
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label text-wrap>
            <span class="label name">{{htmlControls.studentName}}</span>
            <span class="name"
              >{{student.firstName}}
              <span *ngIf="student.initial">{{student.initial}}</span>
              {{student.lastName}}</span
            >
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <span class="label">ID: </span>{{student.id}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-buttons>
        <ion-button
          fill="solid"
          color="primary"
          (click)="addToEvent(student.id)"
        >
          {{htmlControls.add}}
        </ion-button>
        <ion-button
          fill="solid"
          color="secondary"
          (click)="removeFromEvent(student.id)"
        >
          {{htmlControls.remove}}
        </ion-button>
      </ion-buttons>
      <ion-item>
        <ion-label class="left attended" *ngIf="ifOnEventList(student.id)">
          {{student.firstName}}{{htmlControls.added}}
        </ion-label>
        <ion-label class="left attended" *ngIf="!ifOnEventList(student.id)">
          {{student.firstName}}{{htmlControls.notAdded}}
        </ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-list>