<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="settings">
  <ion-list>
    <ion-radio-group value="{{language}}">
      <ion-list-header>
        <ion-label> {{htmlControls.language.title}} </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let language of languages">
        <ion-label> {{language.controls}} </ion-label>
        <ion-radio
          value="{{language.language}}"
          (click)="setLanguage(language.language)"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div *ngIf="!this.platform.is('desktop') && !this.platform.is('mobileweb')">
    <h4>{{htmlControls.rate.title}}</h4>
    <ion-button color="secondary" (click)="openMarketPage()">
      <span *ngIf="platform.is('ios')">
        {{htmlControls.rate.iOS}}&nbsp; <ion-icon name="logo-apple"></ion-icon>
      </span>
      <span *ngIf="platform.is('android')">
        {{htmlControls.rate.android}}&nbsp;
        <ion-icon name="logo-google"></ion-icon>
      </span>
    </ion-button>
  </div>
  <hr />
  <div *ngIf="bought">
    <h2>{{htmlControls.feedback.title}}</h2>
    <p>{{htmlControls.feedback.message}}</p>
    <textarea #message value="{{textArea}}"></textarea>
    <br />
    <ion-button
      color="primary"
      expand="block"
      (click)="sendEmail(message.value)"
      >{{htmlControls.feedback.button}}</ion-button
    >
  </div>
  <div
    *ngIf="!userAgent  && !this.platform.is('mobileweb') && !bought"
  >
    <div *ngFor="let product of products">
      <div>
        <ion-icon name="pricetag"></ion-icon>
        <span> {{product.title}} </span>
        <p>{{product.description}}</p>
      </div>
      <ion-button color="primary" (click)="buyProduct(product)">
        {{htmlControls.buy}}{{product.price}} {{product.currency}}!
      </ion-button>

      <br />
      <ion-button color="secondary" (click)="restorePurchases()">
        <div>{{htmlControls.restore}}</div>
        &nbsp;
        <ion-icon name="happy"> </ion-icon>
      </ion-button>
    </div>
  </div>
  <hr />
</ion-content>
