#clientlogin {
  ion-item {
    $base-padding: 1em;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  @media screen and (min-width: 768px) {
    div {
      $base-padding: 11em;
      padding-left: $base-padding;
      padding-right: $base-padding;
      padding-top: $base-padding - 9em;
    }
  }

  @media screen and (orientation: landscape) {
    div {
      $base-padding: 8em;
      padding-left: $base-padding;
      padding-right: $base-padding;
      padding-top: 0;
    }
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) {
    div {
      $base-padding: 18em;
      padding-left: $base-padding;
      padding-right: $base-padding;
      padding-top: $base-padding - 16em;
    }
  }
}
