#clientlogin {
  div {
    $base-padding: 5em;
    padding-left:  $base-padding;
    padding-right:  $base-padding;
  }

  @media screen and (orientation: landscape) { 
    div {
    $base-padding: 12em;
    padding-left:  $base-padding;
    padding-right:  $base-padding;
  }
  }
}
