<ion-split-pane contentId="menu-content">
  <!--  Side menu  -->
  <ion-menu menuId="main" swipeGesture="false" contentId="menu-content" >

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{htmlControls.menu}}</ion-title>
      </ion-toolbar>
    </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-item *ngFor="let page of pages" routerLink="{{page.route}}" (click)="setSelectedTab(page.text)">
            <ion-label>{{page.text}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
 
  </ion-menu>

  <ion-tabs id="menu-content">

    <ion-tab-bar *ngIf="!viewIsLarge" slot="bottom" color="primary">

      <ion-tab-button tab="home">
        <!--was MainPage in v3-->
        <ion-icon name="home"></ion-icon>
        <ion-label *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')">
          {{htmlControls.home}}
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="calendar">
        <ion-icon name="calendar"></ion-icon>
        <ion-label *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')">
          {{htmlControls.calendar}}
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="stats">
        <!--Was TablePage in v3-->
        <ion-icon name="stats"></ion-icon>
        <ion-label *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')">
          {{htmlControls.stats}}
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="roster">
        <!--Was StudentListPage in v3-->
        <ion-icon name="people"></ion-icon>
        <ion-label *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')">
          {{htmlControls.roster}}
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="cog"></ion-icon>
        <ion-label *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')">
          {{htmlControls.settings}}
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="login"
        *ngIf=" this.platform.is('desktop') || this.platform.is('ipad') || this.platform.is('tablet')">
        <ion-icon name="log-in"></ion-icon>
        <ion-label *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')">
          {{htmlControls.login}}
        </ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-split-pane>