<ion-tabs>
  <!--Tabs for Phone views-->
  <ion-tab-bar *ngIf="!viewIsLarge " color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label
        *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')"
      >
        {{htmlControls.home}}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label
        *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')"
      >
        {{htmlControls.calendar}}
      </ion-label>
    </ion-tab-button>

    <!--WaÎs TablePage in v3-->
    <ion-tab-button tab="stats">
      <ion-icon name="stats-chart-sharp"></ion-icon>
      <ion-label
        *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')"
      >
        {{htmlControls.stats}}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label
        *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')"
      >
        {{htmlControls.settings}}
      </ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="login"
      *ngIf=" this.platform.is('desktop') || this.platform.is('ipad') || this.platform.is('tablet')"
    >
      <ion-icon name="log-in"></ion-icon>
      <ion-label
        *ngIf="this.platform.is('tablet') || this.platform.is('ipad') || this.platform.is('desktop')"
      >
        {{htmlControls.login}}
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!--Tablet View-->
  <ion-tab-bar *ngIf="this.viewIsLarge" slot="top" color="primary">
    <ion-tab-button tab="home">
      <ion-label> {{htmlControls.home}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-label> {{htmlControls.calendar}} </ion-label>
    </ion-tab-button>

    <!--WaÎs TablePage in v3-->
    <ion-tab-button tab="stats">
      <ion-label> {{htmlControls.stats}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-label> {{htmlControls.settings}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-label> {{htmlControls.login}} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
