<div id="event-form">
  <div *ngIf="event.logo; else noLogo" class="logo-image">
    <img [src]="imgSrc" alt="A picture for the logo for the event" />
  </div>
  <ng-template #noLogo>
    <p>({{ htmlControls.optional }})</p>
  </ng-template>
  <ion-button (click)="getPicture()" type="button" color="primary">{{
    htmlControls.picture
  }}</ion-button>
  <ion-button (click)="resetPicture()" type="button" color="secondary">{{
    htmlControls.reset
  }}</ion-button>
  <ion-item>
    <ion-label stacked>{{ htmlControls.eventName }}</ion-label>
    <ion-input
      type="text"
      #name
      placeholder="{{ htmlControls.placeholder }}"
      [(ngModel)]="event.name"
    ></ion-input>
    <ion-icon id="form-icon" name="warning" *ngIf="!name.value"></ion-icon>
  </ion-item>

  <!--Start Date Control-->
  <div *ngIf="!event.infiniteDates; else noStartDate">
    <ion-item>
      <ion-label>{{ htmlControls.start }}</ion-label>
      <ion-datetime
        monthNames="{{ monthNames }}"
        displayFormat="MMMM DD YYYY"
        pickerFormat="MMMM DD YYYY"
        max="2050-12-31"
        [(ngModel)]="event.startDate"
      ></ion-datetime>
    </ion-item>
  </div>
  <ng-template #noStartDate>
    <ion-item>
      <ion-label fixed>{{ htmlControls.start }}</ion-label>
      <ion-input disabled></ion-input>
    </ion-item>
  </ng-template>

  <!--End Date Control-->
  <ion-item *ngIf="!event.infiniteDates; else checkDisabled">
    <ion-label>{{ htmlControls.hasEnd }}</ion-label>
    <ion-checkbox [(ngModel)]="hasEndDate"></ion-checkbox>
  </ion-item>
  <ng-template #checkDisabled>
    <ion-item>
      <ion-label>{{ htmlControls.hasEnd }}</ion-label>
      <ion-checkbox disabled="true"></ion-checkbox>
    </ion-item>
  </ng-template>
  <div *ngIf="!event.infiniteDates">
    <ion-item *ngIf="hasEndDate">
      <ion-label>{{ htmlControls.end }}</ion-label>
      <ion-datetime
        monthNames="{{ monthNames }}"
        displayFormat="MMMM DD YYYY"
        pickerFormat="MMMM DD YYYY"
        max="2050-12-31"
        [(ngModel)]="event.endDate"
      ></ion-datetime>
      <ion-icon
        id="form-icon"
        name="warning"
        *ngIf="!event.endDate && hasEndDate"
      ></ion-icon>
    </ion-item>
  </div>
  <ion-item>
    <ion-label>{{ htmlControls.run }}</ion-label>
    <ion-checkbox
      [(ngModel)]="event.infiniteDates"
      color="primary"
      checked="false"
    ></ion-checkbox>
  </ion-item>

  <ion-list lines="none">
    <ion-searchbar
      placeholder="{{ htmlControls.search }}"
      (ionInput)="search($event)"
    ></ion-searchbar>
    <cdk-virtual-scroll-viewport
      itemSize="56"
      minBufferPx="900"
      maxBufferPx="1350"
    >
      <app-event-students-list
        *cdkVirtualFor="let student of students"
        [htmlControls]="htmlControls"
        [student]="student"
        [studentIds]="studentIds"
        (studentIdsData)="assignStudentId($event)"
      ></app-event-students-list>
    </cdk-virtual-scroll-viewport>
  </ion-list>

  <ion-button expand="full" (click)="submit()">Submit</ion-button>
  <ion-button expand="full" color="secondary" (click)="addAll()"
    >Add All</ion-button
  >
  <ion-button
    expand="full"
    color="tertiary"
    (click)="deleteEvent()"
    *ngIf="!this.create"
  >
    Delete</ion-button
  >
</div>
