<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Record</ion-title>
    <ion-buttons slot="start">
        <app-cancel></app-cancel>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button (click)="createStudent({
            firstName: firstName.value,
            initial: initial.value,
            lastName: lastName.value,
            id: id.value,
            address: address.value,
            phoneNumber:phoneNumber.value,
            town:town.value,
            state:state.value,
            class: class.value,
            fatherName:fatherName.value,
            motherName:motherName.value,
            emergencyContactName:emergencyContactName.value,
            emergencyRelationship:emergencyRelationship.value,
            emergencyContactPhoneNumber:emergencyContactPhoneNumber.value,
            picture:null,
            gender: null,
            isActive: null
          })">
            Create
          </ion-button>
        </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding id="create">
    <div *ngIf="picture" class="profile-image">
        <img src="{{picture}}" alt="A profile picture">
      </div>
      <form #studentForm="ngForm" (ngSubmit)="createStudent({
          firstName: firstName.value,
          initial: initial.value,
          lastName: lastName.value,
          id: id.value,
          address: address.value,
          phoneNumber:phoneNumber.value,
          town:town.value,
          state:state.value,
          class: class.value,
          fatherName:fatherName.value,
          motherName:motherName.value,
          emergencyContactName:emergencyContactName.value,
          emergencyRelationship:emergencyRelationship.value,
          emergencyContactPhoneNumber:emergencyContactPhoneNumber.value,
          picture:null,
          gender: null,
          isActive: null
        })">
        <ion-item-group>
          <ion-button (click)="browsePicture()" color="primary">Change</ion-button>
          <ion-button (click)="picture = ''" color="secondary">Reset</ion-button>
          <ion-item>
            <ion-label stacked>ID</ion-label>
            <ion-input type="text" #id value="{{idInput}}"></ion-input>
            <ion-icon id="form-icon" item-right name="warning" *ngIf="!id.value"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" #firstName></ion-input>
            <ion-icon id="form-icon" item-right name="warning" *ngIf="!firstName.value"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label stacked>Middle Name</ion-label>
            <ion-input type="text" #initial></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input type="text" #lastName></ion-input>
            <ion-icon id="form-icon" item-right name="warning" *ngIf="!lastName.value"></ion-icon>
          </ion-item>
          <ion-list lines="none">
            <ion-radio-group [(ngModel)]="gender" name="gender" ngDefaultControl>
          <ion-list-header>Gender</ion-list-header>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="male" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="female"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Undisclosed</ion-label>
              <ion-radio slot="start" value="undisclosed"></ion-radio>
            </ion-item>
            </ion-radio-group>
          </ion-list>
          <h5 id="optional">Optional</h5>
          <ion-item>
            <ion-label stacked>Address</ion-label>
            <ion-input type="text" #address></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!address.value"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="text" #phoneNumber></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="phoneNumber.value"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label stacked>City</ion-label>
            <ion-input type="text" #town></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!town.value"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label stacked>State</ion-label>
            <ion-input type="text" #state></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!state.value"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label stacked>Class</ion-label>
            <ion-input type="text" #class></ion-input>
          </ion-item>
          <h6>Father</h6>
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" #fatherName></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!fatherName.value"></ion-icon> -->
          </ion-item>
          <h6>Mother</h6>
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" #motherName></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!motherName.value"></ion-icon> -->
          </ion-item>
          <h6>Emergency Contact</h6>
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" #emergencyContactName></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!emergencyContactName.value"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label stacked>Relationship</ion-label>
            <ion-input type="text" #emergencyRelationship></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="!emergencyRelationship.value"></ion-icon> -->
          </ion-item>
          <ion-item>
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="text" #emergencyContactPhoneNumber></ion-input>
            <!-- <ion-icon id="form-icon" item-right name="warning" *ngIf="validatePhoneNumber(emergencyContactPhoneNumber.value)"></ion-icon> -->
          </ion-item>
        </ion-item-group>
        <ion-button type="submit" color="primary">Create</ion-button>
        <ion-button type="button" color="secondary" (click)="
          firstName.value = '';
          initial.value = '';
          lastName.value = '';
          id.value = '';
          address.value = '';
          class.value = '';
          phoneNumber.value = '';
          town.value = '';
          state.value = '';
          fatherName.value = '';
          motherName.value = '';
          emergencyContactName.value = '';
          emergencyRelationship.value = '';
          emergencyContactPhoneNumber.value = '';
          picture = '';
          gender = 'male';
          ">Reset</ion-button>
      </form>
    
</ion-content>
