<ion-header>
  <ion-toolbar>
    <ion-title>Export</ion-title>
    <ion-buttons slot="start">
      <app-cancel></app-cancel>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="primary" (click)="exportTextTabToFile()" expand="block">
    Export as Text Tab Delimited
    </ion-button>
    <ion-button color="primary" (click)="exportCSVToFile()" expand="block">
      Export as CSV
    </ion-button>
    <ion-button color="primary" (click)="exportXLSXToFile()" expand="block">
      Export as XLSX
    </ion-button>

</ion-content>