<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <app-cancel></app-cancel>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-radio-group [(ngModel)]="dateControl" name="dateControl">
      <ion-list-header> {{htmlControls.header}} </ion-list-header>
      <ion-item>
        <ion-label>{{htmlControls.perMonth}}</ion-label>
        <ion-radio value="perMonth"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>{{htmlControls.month}}</ion-label>
        <ion-radio value="month"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{htmlControls.day}}</ion-label>
        <ion-radio value="day"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <h2>{{htmlControls.date}}</h2>

    <div *ngIf="dateControl === 'perMonth'">
      <ion-datetime presentation="month-year" [(ngModel)]="date" value="date">
      </ion-datetime>
    </div>

    <div *ngIf="dateControl === 'month'">
      <ion-datetime presentation="month-year" [(ngModel)]="date" value="date">
      </ion-datetime>
    </div>

    <div *ngIf="dateControl === 'day'">
      <ion-datetime presentation="date" [(ngModel)]="date" value="date">
      </ion-datetime>
    </div>

    <ion-button
      fill="solid"
      color="primary"
      (click)="exportAsText()"
      expand="block"
    >
      {{htmlControls.texttab}}
    </ion-button>
    <ion-button
      fill="solid"
      color="secondary"
      (click)="exportAsCSV()"
      expand="block"
    >
      {{htmlControls.csv}}
    </ion-button>
    <ion-button
      fill="solid"
      color="tertiary"
      (click)="exportAsXLSX()"
      expand="block"
    >
      {{htmlControls.xlsx}}
    </ion-button>
  </ion-list>
</ion-content>
