#user-item {
  .attended {
    color: rgb(230, 164, 164);
    margin-top: 15px;
  }
  .user-items-buttons {
    margin-top: 15px;
    display: flex;
  }
  
  .label {
    font-weight: bolder;
  }

  .top {
    padding-top: 5px;
  }
}
