#user-item {
  .attended {
    color: rgb(230, 164, 164);
    margin-top: 15px;
  }
  .user-items-buttons {
    margin-top: 15px;
    display: flexbox;
    flex-direction: row;
    justify-items: left;
  }

  
  .label {
    font-weight: bolder;
  }

  .top {
    padding-top: 5px;
  }
}
