<ion-header>
  <ion-toolbar>
    <ion-title>Create Event</ion-title>
    <ion-buttons slot="start">
      <app-cancel></app-cancel>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addAll()">Add All</ion-button>
      <ion-button (click)="createNewEvent()">Create</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding id="create-event">
  <div *ngIf="logo" class="logo-image">
    <img src="{{logo}}" alt="A picture for the logo for the event">
  </div>
  <div id="logo">
    <ion-button (click)="addLogo()" type="button" color="primary">Add a Picture</ion-button>
    <ion-button (click)="logo = '' " type="button" color="secondary">Reset</ion-button>
    <p>(Optional)</p>
  </div>
  <ion-item>
    <ion-label stacked>Name</ion-label>
    <ion-input type="text" #name placeholder="Write your Event Name" [(ngModel)]="eventName"></ion-input>
    <ion-icon id="form-icon" name="warning" *ngIf="!name.value"></ion-icon>
  </ion-item>
  <div *ngIf="!infiniteDates else noStartDate">
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMMM DD YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
  </div>
  <ng-template #noStartDate>
    <ion-item>
      <ion-label fixed>Start Date</ion-label>
      <ion-input disabled></ion-input>
    </ion-item>
  </ng-template>
  <ion-item>
    <ion-label>Has End Date?</ion-label>
    <ion-checkbox [(ngModel)]="hasEndDate"></ion-checkbox>
  </ion-item>
  <div *ngIf="!infiniteDates else noEndDate">
    <ion-item *ngIf="hasEndDate" (ionChange)="resetEndDate()">
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMMM DD YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="endDate"></ion-datetime>
      <ion-icon id="form-icon" name="warning" *ngIf="!this.endDate && hasEndDate"></ion-icon>
    </ion-item>
  </div>
  <ng-template #noEndDate>
    <div *ngIf="hasEndDate">
      <ion-item>
        <ion-label fixed>End Date</ion-label>
        <ion-input disabled></ion-input>
      </ion-item>
    </div>
  </ng-template>
  <ion-item>
    <ion-label>Run Indefinitely</ion-label>
    <ion-checkbox [(ngModel)]="infiniteDates" color="primary" checked="false"></ion-checkbox>
  </ion-item>
  <ion-list lines="no-lines">
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    <ion-item *ngFor="let student of students">
      <ion-avatar>
        <img src="{{student.picture}}" alt="{{student.firstName}}'s profile image">
      </ion-avatar>
      <p>
        <span class="label name">Name: </span>
        <span class="name">{{student.firstName}} <span *ngIf="student.initial">{{student.initial}}</span>
          {{student.lastName}}</span>
      </p>
      <p>
        <span class="label">ID: </span>{{student.id}}
      </p>
      <p *ngIf="student.phoneNumber">
        <span class="label">Phone Number: </span>{{student.phoneNumber}}
      </p>
      <ion-button size="small" color="primary" (click)="addToEvent(student.id)">
        Add
      </ion-button>
      <ion-button size="small" color="secondary" (click)="removeFromEvent(student.id)">
        Remove
      </ion-button>
      <div>
        <p class="left attended" *ngIf="ifOnEventList(student.id)">
          {{student.firstName}} was added to events list!
        </p>
        <p class="left attended" *ngIf="!ifOnEventList(student.id)">
          {{student.firstName}} wasn't added to events list!
        </p>
      </div>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="createNewEvent()">Create</ion-button>
  <!-- <ion-fab vertical="bottom" horizontal="end" edge="true" slot="fixed">
    <ion-fab-button transluscent="true" type="button" color="secondary" (click)="addStudent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>