 body{
   margin: 0;
   padding: 0;
 }
header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* height: 3em; */
}

img {
  width: 100%;
  height: auto;
}

.image-link img {
  width: 30pt;
}

.share {
  padding: 12pt;
  display: inherit;
  font-size: 14pt;
}

.share a {
  padding-left: 10px;
}

.facebook-logo {
  color: blue;
}

.twitter-logo {
  color: lightblue;
}

section {
  padding: 10pt;
}

.presentation img {
  width: 100pt;
  height: auto;
  padding-right: 5pt;
}
.presentation-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5pt;
  margin-right: 5pt;
  /* justify-content: space-between; */
}