<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-cancel></app-cancel>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #notesForm="ngForm" (ngSubmit)="onSubmit(notesForm)">
    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea
        #textarea
        name="textarea"
        readonly
        required
        [(ngModel)]="notes"
        rows="5"
      ></ion-textarea>
    </ion-item>
    <ion-button expand="block" *ngIf="!edit; else editing" (click)="onEdit()"
      >Edit</ion-button
    >
    <ng-template #editing>
      <ion-button expand="block" type="submit">Save</ion-button>
      <ion-button expand="block" color="secondary" (click)="onEdit()"
        >Cancel</ion-button
      >
    </ng-template>
  </form>
</ion-content>
