<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="event"></ion-back-button>
      <app-menu-button *ngIf="!event"></app-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="calendar">
  <calendar-component
    [language]="language"
    (getDate)="getDate($event)"
  ></calendar-component>
  <h4>{{currentDate}}</h4>
  <ion-searchbar
    [(ngModel)]="search"
    (ionInput)="searchStudent()"
    animated="true"
    type="search"
  >
  </ion-searchbar>
  <cdk-virtual-scroll-viewport
    itemSize="56"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    <app-user-item
      *cdkVirtualFor="let student of students"
      [student]="student"
      [htmlControls]="htmlControls"
      [homeURL]="homeURL"
      [date]="date"
    ></app-user-item>
  </cdk-virtual-scroll-viewport>
</ion-content>
