<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calendar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="event"></ion-back-button>
      <app-menu-button *ngIf="!event"></app-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="calendar">
  <calendar-component (getDate)="getDate($event)"></calendar-component>
  <h4>{{currentDate}}</h4>
  <ion-searchbar [(ngModel)]="search" (ionInput)="searchStudent()" animated="true" type="search">
  </ion-searchbar>
  <ion-list *ngIf="students" lines="none">
    <ion-virtual-scroll [items]="students" approxHeaderWidth="380px" approxHeaderHeight="44px" approxItemWidth="380px"
      approxItemHeight="240px">
      <!-- <ion-item-sliding *ngFor="let student of students" #slidingUser> -->
      <div *virtualItem="let student" padding>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="{{student.picture}}" alt="no image"></ion-img>
          </ion-avatar>
          <ion-label>
            <p>
              <span class="label name">Name: </span>
              <span class="name">{{student.fullName}}</span>
            </p>
            <p>
              <span class="label">ID: </span>{{student.id}}
            </p>
            <ion-buttons>
              <ion-button fill="solid" color="primary" (click)="addAttendance({id: student.id})">
                Attended
              </ion-button>
              <ion-button fill="solid" color="secondary" (click)="addAbsence({id: student.id})">
                Absent
              </ion-button>
              <ion-button fill="solid" color="dark" (click)="showNotes(student.id)">
                <ion-icon name="paper"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-item *ngIf="toggle == student.id" padding>
            <textarea #notes (keyup)="addNotes({id: student.id, notes:notes.value})"
              padding>{{student.notes}}</textarea>
            </ion-item>
            <div>
              <p class="left attended" *ngIf="student.attendance">
                {{student.firstName}}'s is present this day!
              </p>
              <p class="left attended" *ngIf="student.absence">
                {{student.firstName}}'s is absent this day!
              </p>
              <!-- <p class="right">
                Swipe for more options
              </p> -->
            </div>
          </ion-label>
        </ion-item>
        <!-- <ion-item-options>
          <ion-item-option color="primary" (click)="addAttendance({id: student.id})">
            Attended
          </ion-item-option>
          <ion-item-option color="secondary" (click)="addAbsence({id: student.id})">
            Absent
          </ion-item-option>
        </ion-item-options> -->
      </div>
    </ion-virtual-scroll>
    <!-- </ion-item-sliding> -->
  </ion-list>
</ion-content>