#calendar {
  h4 {
    text-align: center;
  }
  .label {
    font-weight: bolder;
  }
  .name {
    font-size: 130%;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    color: rgb(141, 162, 247);
  }
  .attended {
    color: rgb(230, 164, 164);
  }
  textarea {
    width: 100%;
  }
  .top {
    padding-top: 5px;
  }
  .pad {
    padding-bottom: 1em;
  }

  cdk-virtual-scroll-viewport {
    height: 41%;
    width: 100%;
  }
  @media screen and (min-width: 667px) and (orientation: landscape) {
    cdk-virtual-scroll-viewport {
      height: 100%;
      width: 100%;
    }
  }
  @media screen and (min-height: 668px) {
    cdk-virtual-scroll-viewport {
      height: 58%;
      width: 100%;
    }
  }

  @media screen and (min-height: 730px) {
    cdk-virtual-scroll-viewport {
      height: 46%;
      width: 100%;
    }
  }
  @media screen and (min-height: 780px) {
    cdk-virtual-scroll-viewport {
      height: 45%;
      width: 100%;
    }
  }
  @media screen and (min-height: 844px) {
    cdk-virtual-scroll-viewport {
      height: 49%;
      width: 100%;
    }
  }
  @media screen and (min-height: 848px) {
    cdk-virtual-scroll-viewport {
      height: 52%;
      width: 100%;
    }
  }
  @media screen and (min-height: 900px) {
    cdk-virtual-scroll-viewport {
      height: 58%;
      width: 100%;
    }
  }

  // iPad screens
  @media screen and (min-height: 1024px) {
    cdk-virtual-scroll-viewport {
      height: 65%;
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    cdk-virtual-scroll-viewport {
      height: 50%;
      width: 100%;
    }
  }
  @media screen and (min-height: 1366px) {
    cdk-virtual-scroll-viewport {
      height: 70%;
      width: 100%;
    }
  }
  @media screen and (min-width: 1366px) and (orientation: landscape) {
    cdk-virtual-
    scroll-viewport {
      height: 90%;
      width: 100%;
    }
  }
}
