#calendar {
  h4 {
    text-align: center;
  }
  .label {
    font-weight: bolder;
  }
  .name {
    font-size: 130%;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    color: rgb(141, 162, 247);
  }
  .attended {
    color: rgb(230, 164, 164);
  }
  textarea {
    width: 100%;
  }
  .top {
    padding-top: 5px;
  }
  .pad {
    padding-bottom: 1em;
  }
  cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }
}
