<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <app-menu-button></app-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToEvents()"
        >{{htmlControls.toolbar.buttons.event}}</ion-button
      >
      <ion-button (click)="goToCreate()"
        >{{htmlControls.toolbar.buttons.add}}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="home" class="ion-padding">
  <ion-searchbar
    placeholder="{{htmlControls.search}}"
    (ionInput)="searchStudent($event)"
    animated="true"
    type="search"
  >
  </ion-searchbar>
  <ion-item lines="none">
    <ion-label>{{htmlControls.sort}}</ion-label>
    <ion-select
      interface="popover"
      multiple="false"
      #sort
      (ionChange)="sortData(sort.value)"
    >
      <ion-select-option *ngFor="let option of selectOptions" value="{{option}}"
        >{{option}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label>{{htmlControls.filter}}</ion-label>
    <ion-select
      interface="popover"
      multiple="false"
      #filter
      (ionChange)="filterByClass(filter.value)"
    >
      <ion-select-option *ngFor="let class of filterOptions" value="{{class}}"
        >{{class}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <cdk-virtual-scroll-viewport
    itemSize="56"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    <app-user-item
      *cdkVirtualFor="let student of students"
      [student]="student"
      [htmlControls]="htmlControls"
      [homeURL]="homeURL"
      [date]="date"
    ></app-user-item>
  </cdk-virtual-scroll-viewport>
</ion-content>
