<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="settings">
  <div *ngIf="this.platform.is('cordova')">
    <app-loader *ngIf="noProducts"></app-loader>
    <div *ngFor="let product of products">
      <ion-icon name="pricetag"></ion-icon>
      <div *ngIf="isIos">
        <span>
          The Master Key!
        </span>
        <p>
          Unlocks limit to database max rows!
        </p>
      </div>
      <div *ngIf="isAndroid">
        <span>
          {{product.title}}
        </span>
        <p>
          {{product.description}}
        </p>
      </div>
      <ion-button *ngIf="isAndroid" color="primary"
        (click)="buyProduct({productId: product.productId, productTitle: product.title})">
        Buy now for only {{product.priceAsDecimal}} {{product.currency}}!
      </ion-button>
      <ion-button *ngIf="isIos" color="primary"
        (click)="buyProduct({productId: product.productId, productTitle: 'The Master Key!'})">
        Buy now for only {{product.priceAsDecimal}} {{product.currency}}!
      </ion-button>
      <br>
      <ion-button color="secondary" (click)="restorePurchases()">
        <div *ngIf="isAndroid">
          Restore {{product.title.slice(0,15)}}
        </div>
        <div *ngIf="isIos">
          Restore The Master Key!
        </div>
        &nbsp;
        <ion-icon name="happy"> </ion-icon>
      </ion-button>
      <hr>
    </div>
  </div>
  <div *ngIf="this.platform.is('cordova')">
    <h4>If you like the app please consider rating it 5 stars!</h4>
    <ion-button *ngIf="platform.is('ios')" (click)="openMarketPage()">
      Open App Store &nbsp; <ion-icon name="logo-apple"></ion-icon>
    </ion-button>
    <ion-button *ngIf="platform.is('android')" color="secondary" (click)="openMarketPage()">
      Open Play Store &nbsp; <ion-icon name="logo-google"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="bought">
    <hr>
    <h2>Feedback</h2>
    <p>Have any issues or just want to give me some feedback on how to make the app better? Just sent me an email
      and I will answer accordingly!
    </p>
    <textarea #message></textarea>
    <br>
    <ion-button color="primary" (click)="sendEmail(message.value)">Send email! </ion-button>
    <hr>
  </div>
</ion-content>