<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{htmlControls.toolbar.title}}</ion-title>
    <ion-buttons slot="start">
      <app-menu-button></app-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="settings">
  <div *ngIf="!this.platform.is('desktop')">
    <app-loader *ngIf="noProducts"></app-loader>
    <div *ngFor="let product of products">
      <ion-icon name="pricetag"></ion-icon>
      <div *ngIf="isIos">
        <span>
          {{htmlControls.masterKey.title}}
        </span>
        <p>
          {{htmlControls.masterKey.description}}
        </p>
      </div>
      <div *ngIf="isAndroid">
        <span>
          {{product.title}}
        </span>
        <p>
          {{product.description}}
        </p>
      </div>
      <ion-button *ngIf="isAndroid" color="primary"
        (click)="buyProduct({productId: product.productId, productTitle: product.title})">
        {{htmlControls.buy}}{{product.priceAsDecimal}} {{product.currency}}!
      </ion-button>
      <ion-button *ngIf="isIos" color="primary"
        (click)="buyProduct({productId: product.productId, productTitle: 'The Master Key!'})">
        {{htmlControls.buy}}{{product.priceAsDecimal}} {{product.currency}}!
      </ion-button>
      <br>
      <ion-button color="secondary" (click)="restorePurchases()">
        <div *ngIf="isAndroid">
          {{htmlControls.restoreAndroid}}{{product.title.slice(0,15)}}
        </div>
        <div *ngIf="isIos">
          {{htmlControls.restoreiOS}}
        </div>
        &nbsp;
        <ion-icon name="happy"> </ion-icon>
      </ion-button>
      <hr>
    </div>
  </div>
  <div *ngIf="!this.platform.is('desktop')">
    <h4>{{htmlControls.rate.title}}</h4>
    <ion-button *ngIf="platform.is('ios')" (click)="openMarketPage()">
      {{htmlControls.rate.iOS}}&nbsp; <ion-icon name="logo-apple"></ion-icon>
    </ion-button>
    <ion-button *ngIf="platform.is('android')" color="secondary" (click)="openMarketPage()">
      {{htmlControls.rate.android}}&nbsp; <ion-icon name="logo-google"></ion-icon>
    </ion-button>
  </div>
  <div *ngIf="bought">
    <hr>
    <h2>{{htmlControls.feedback.title}}</h2>
    <p>
      {{htmlControls.feedback.message}}
    </p>
    <textarea #message value="{{textArea}}"></textarea>
    <br>
    <ion-button color="primary" (click)="sendEmail(message.value)">{{htmlControls.feedback.button}}</ion-button>
    <hr>
  </div>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          {{htmlControls.language.title}}
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let language of languages">
        <ion-label>
          {{language.controls}}
        </ion-label>
        <ion-radio value="{{language.controls}}" (ionSelect)="setLanguage(language)"
          checked="{{language.checked}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>